.nav {
  display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px 5%;
  position: relative;
}

.nav > ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

.nav li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
	font-size: 12px;
	margin-right: 15px;
	cursor: pointer;
}

.nav li:last-child {
	margin-right: 0;
}

.nav img {
	height: 35px;
	width: 35px;
	border-radius: 50%;
}

.nav .ap {
	transition: 0.5s ease-in-out;
	border-radius: 50%;
	padding: 5px;
}

.nav .ap:hover {
	background: #e3eaf1bb;
}

.nav .sap {
	background: white;
	height: 450px;
	width: 320px;
	position: absolute;
	top: 80px;
	right: 30px;
	box-shadow: 2px 2px 10px #9aa0a6;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 20px;
	font-size: 14px;
	line-height: 1.5;
	transition: 0.5s ease-in-out forwards;
}

.nav .sap svg {
	background: #9aa0a6;
	color: white;
	border-radius: 50%;
	height: 21px;
	width: 21px;
	padding: 3px;
}

.nav a{
  text-decoration: none;
  color: #9aa0a6;
}

.nav .sap p {
	animation: p 5s ease-out;
}

@keyframes p {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.nav .sap a {
	text-decoration: none;
	color: #4aa04e;
	font-weight: bold;
}

.nav .sap .loader {
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(-45%, -50%);
	animation: loader 5s linear forwards;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 3px solid #4aa04e;
	border-left-color: transparent;
}

@keyframes loader {
	from {
		transform: rotate(0deg);
		border-color: #4aa04e;
		border-left-color: transparent;
		opacity: 1;
	}
	50% {
		border-color: rgb(201, 24, 24);
		border-left-color: transparent;
	}
	75% {
		border-color: rgb(0, 140, 255);
		border-left-color: transparent;
	}
	to {
		transform: rotate(360deg);
		border-color: #4aa04e;
		border-left-color: transparent;
		opacity: 0;
	}
}
.main {
	min-height: 68vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

main a{
  text-decoration: none;
}
.main form {
	margin: 20px 0;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px currentColor solid;
	border-radius: 20px;
	padding: 0 10px;
	max-width: 95%;
	width: 600px;
	background: white;
	transition: 0.5s ease-in-out;
}

.inpt:focus ~ .form {
	box-shadow: 2px 2px 10px #9aa0a6;
}

.main form input {
	border: none;
	outline: none;
	flex: 1;
	padding: 20px 10px;
	height: 100% !important;
}

.main form svg {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.main h1 {
	height: 86px;
	overflow-x: auto;
	width: 100%;
	text-align: center;
	font-size: 80px;
	color: #4aa04e;
}

.main img {
	max-width: 100%;
	width: 400px;
	transition: 0.5s ease-in-out;
}

.sas a {
	background: #f8f9fa;
	padding: 10px 15px;
	text-decoration: none;
	color: #9aa0a6;
	border-radius: 5px;
	font-size: 12px;
	border: 1px solid transparent;
	transition: 0.5s ease-in-out;
}

.sas a:hover {
	border: 1px #a3aaaf solid;
}

.sas a:first-child {
	margin-right: 20px;
}

.main p {
	font-size: 12px;
	margin: 0 5px;
	margin-top: 30px;
}

.main p a {
	text-decoration: none;
	margin: 0 3px;
	transition: 0.5s ease-in-out;
}

.main p a:hover {
	text-decoration: underline 1px currentColor;
}

footer {
	background: #f2f2f2;
	min-height: 20vh;
}

footer h4 {
	display: block;
	border-bottom: 1px solid currentColor;
	padding: 10px 5%;
	font-weight: 500;
	font-size: 17px;
}

footer div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px 5%;
	padding-top: 20px;
	gap: 15px;
	flex-wrap: wrap;
}

footer li {
	display: inline-block;
	list-style-type: none;
	padding: 6px;
	font-size: 13px;
}

footer a {
	transition: 0.5s ease-in-out;
	color: #9aa0a6;
	text-decoration: none;
}

footer a:hover {
	text-decoration: 1px underline currentColor;
}

footer img {
	margin-right: 5px;
	width: 10px;
	height: 10px;
}


@media (max-width: 760px){
	.main h1 {
	font-size: 35px;
}

.main img {
	width: 250px;
}
}
